// variables.less

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@phone:          ~"only screen and (min-width: @{xs-min})";
@tablet:         ~"only screen and (min-width: @{sm-min})";
@desktop:        ~"only screen and (min-width: @{md-min})";
@large:          ~"only screen and (min-width: @{lg-min})";

/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

@max-width-div:	1800px;

//Typography
@path-fonts:    '../fonts';
@body-font-stack: 'Alegreya Sans', sans-serif;
@header-font-stack: 'Quadrat Serial', serif;
@button-font: 'Quadrat Serial', serif;

// Colors
@white: #fff;
@black:#000;
@blue: #0c3f6c; 	
@tan: #d3c8ba; 		
@gold: #d1ba2a; 
@wine: #7b2f3e;
@lt-blue: #688eb0;		

// Content
@body-bg-color: @white;
@body-color: @black;
@header-bg-color: @blue;
@wrapper-bg-color: @white;
@footer-color: @white;
@footer-bg-color: @black;

// Subheads
@h1-color: @black;
@h2-color: @white;
@h3-color: @wine;
@h4-color: @blue;
@h5-color: @white;
@h6-color: @white;

// Links 
@link-color: @blue;
@link-color-visited: @blue;
@link-color-hover: @blue;

// Navigation
@mob-nav-bg-color: @white;
@mob-nav-color: @blue;
@mob-nav-active: @lt-blue;
@menu-items-color-hover-mob: @blue;
@menu-items-color: @white;
@menu-items-color-hover: @lt-blue;
@menu-items-color-active: @lt-blue;

// Extras
@ribbon-bg-color: @blue;

 