//header.less

/*-------------------\
	Layout: Header
\---------------------*/


header {
	clear: both;
	margin: 0 auto;		
	overflow: visible;
	position: relative;
	@media @desktop {
		
	}
}
.toggle-nav {
	display: none; /*---hide for mobile---*/
	@media @desktop {
		}
}
.logobox {
	margin: 0;
	width: 100%;
	text-align: center;
	@media @desktop {
		}	
}
.logobox a {
		}
.logobox img {
	width: 300px;	
	margin: 0 auto;
	@media @desktop {
		margin: 0;
		width: 500px;
		height: auto;
	}
}



